In [1]:
# int float string complex bool
#int
# decmal(0-9)
#binary(0-1)
# octal(0-7)
# hexadecaml(0-15)0-9 a-f

a=12345664 # type
print(type(a))
print(a)

<class 'int'>
12345664

In [2]:
a=1010101
print(type(a))
print(a)

<class 'int'>
1010101

In [3]:
#oct() convart 
#bin()
#hex()

In [4]:
a=20
print(a)
print(bin(a))

20
0b10100

In [5]:
a=0O12345
print(type(a))
print(a)

<class 'int'>
5349

In [6]:
a=0B1010101
print(type(a))
print(a)

<class 'int'>
85

In [7]:
a=0x123ade
print(type(a))
print(a)

<class 'int'>
1194718

In [8]:
# string data type
s='string'
s1="string"
s2=''' hai 
rvr & jc'''
print(type(s))
print(type(s1))
print(type(s2))
print(s)
print(s1)
print(s2)

<class 'str'>
<class 'str'>
<class 'str'>
string
string
 hai
rvr & jc

In [9]:
s='s'
print(type(s))

<class 'str'>

In [10]:
#float datatype a-z 0-9
de=123.456
print(type(a))
print(a)

<class 'int'>
1194718

In [11]:
import keyword
k=keyword.kwlist
print(k)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# DA Workshop
## RVR&JC College
### python
#### markdown
###### Non Cse
###### heading6

*italic* text in **markdown**<br>
**bold** text in *markdown*<br>
***bold italic*** text<br>Workshop by APSSDC

### Python 
* General purpose,high level and interpreted language
- **General Purpose**
    - It used to develop the mbl app'ns,s/w developement,web designing etc
- *High level programming language*
    - User understanable language
- ***Interpreted***
    - It gives us the line by line execution
- Features
    - Easy to learn and simple to code
    - Syntax free language
    * It is semi-object oriented language
 
- It is the main building block of all current running technologies such as AI,DS,Robotics,IOT,CC etc..

#### links in markdown
-[google](www.google.com)

#### Errors in Python
- An invalid statement
- 3 Types of Errors
    - Syntax Error
        - Error related to syntax
    - Value Error
        - trpe error,file not found error and value error etc..
    - Indentation Error
        - Error related to space

In [13]:
print("python")

python

In [14]:
9+10

19

In [15]:
print("Welcome to Python") # both types of quotes

Welcome to Python

In [16]:
print('welcome to python')

welcome to python

In [17]:
print("started with double and ended with single')

SyntaxError: EOL while scanning string literal (<ipython-input-17-cc2de4ec9dc5>, line 1)

In [18]:
print("I am from 'APSSDC'")

I am from 'APSSDC'

In [19]:
# FIRST NAME FROM YOUR LAST NAME
9+"rvr&jc"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
"fisrt"+"last"

'fisrtlast'

In [21]:
clg="RVR&JC"
print(clg) # data/var
print("clghjdykerkjhk") # message/text

RVR&JC
clghjdykerkjhk

In [22]:
print("clg")

clg

### Operators in Python
- anything that performs the op'n b/w 2 operands
- Ex:a+b:+ is the op'r performing addition op'n
    - on a&b
- Arithmetic Operators
    * +,-,*,/,//,%,** (power)
- Assignment
    - =,+=,-=,*=,/=,
- Boolean 
    - False/True
- Comparisional
    - <,<=, >,>=,==
- Logical 
    - and,or
- Identity 
    - is,is not
- Membership
    - in,not in
- Operators used in print() 
    - sep,end

In [ ]:
# read 2 numbers from user and perform all the arithmetic op'ns on them
x,y=int(input()),int(input())
print("sum=",x+y)
print("difference=",x-y)
print("product=",x*y)
print("quotient=",x/y)
print("remainder=",x%y)
print("power=",x**y)

In [ ]:
x>y #

In [ ]:
x is y # english

In [ ]:
x==y # checking equality

In [ ]:
x==y # checking equality

In [ ]:
x is 30

In [ ]:
"r" in "rvr&jc" # membership

In [ ]:
"rj" not in "rvr&jc"

In [ ]:
some=int(input("Enter any value:")) # 45
some+=10 # inc 55
some-=5 # 50
some*=4 # 200
val=60
some+=val # 260
print(some,val,sep=",")

In [ ]:
print(f,s,th,sep=",") # multiple outputs

In [ ]:
# end operator
print() # new line

In [ ]:
print("\n")

In [ ]:
print(f,s,th,sep=",")

#### Conditional Statements
- We do programming based on some conditions
- **if,else,elif**
    - syntax
        - if condition :
            - statements goes here

In [ ]:
# read a number from user and 
# print yes if it is even
# read a character from user and
# print "vowel" if it is vowel

In [ ]:
num=int(input())
if num%2 is 0:
    print("yes")

In [ ]:
ch=input()
if ch=="a" or ch=="e" or ch=="i" or ch=="o" or ch=="u":
    print("vowel")

In [ ]:
ch=input()
vowels="aeiouAEIOU"
if ch in vowels:
    print("vowel")

In [ ]:
ch=input()
vowels="aeiouAEIOU"
if ch in vowels:
    print("vowel")
else:print("consonant")

In [ ]:
# read a number and 
# tell whether it is +ve integer or -ve integer
n=int(input())
if n<0:
    print("negative interger")
elif n==0:
    print("zero")
else:
    print("positive integer")

In [ ]:
# read 3 numbers from user and print the bigger one
g,h,k=int(input()),int(input()),int(input())
if g>h and g>k:
    print(g)
elif h>g and h>k:
    print(h)
else:print(k)

In [ ]:
# read an year from user and tell us if is leap or not
year=int(input())
if year%4==0 or (year%400==0 and year%100==0):
    print("leap")
else:print("non leap")

### Looping Statements
- Repeatition of statements
- **for and while**
- for loop
    - default incrementation
    - **syntax**
        - for iterator in iterable:
            - statements
        - for iterator in range():
            - statements

In [ ]:
# to print your name multiple times (10)
print("ruthu")
print("ruthu")
print("ruthu")
print("ruthu")
print("ruthu")
print("ruthu")
print("ruthu")
print("ruthu")
print("ruthu")
print("ruthu")

In [ ]:
# to print numbers from 1 to 10
# numbers
print(1)
print(2) # print(10)

In [ ]:
for num in range(1,10):
    print(num)

In [ ]:
for num in range(1,11):
    print(num,end=" ")

In [ ]:
for num in range(1,10): # exclusive 
    print("rvr&jc")

In [ ]:
# print the odd no.s present in a given range
# 10 to 100:
for num in range(11,100,2): # step count
    print(num,end=" ")

In [ ]:
# print the nth multiplication table
a=int(input())
for num in range(1,11):
    b=a*num
    print(b)