### Today Concepts
- While loop
- Functions
- Strings
- Data Structures

In [2]:
# print the numbers present in a range reverse order
# from upper bound to lower bound
up,lw=int(input("upper bound:")),int(input("lower bound:"))
for num in range(up,lw,-3):
    print(num,end=" ")

upper bound:50
lower bound:10
50 47 44 41 38 35 32 29 26 23 20 17 14 11

In [1]:
# multiplication table in reverse order
n=int(input("Enter n value:"))
for num in range(10,0,-1):
    print(n,"x",num,"=",n*num)

Enter n value:18
18 x 10 = 180
18 x 9 = 162
18 x 8 = 144
18 x 7 = 126
18 x 6 = 108
18 x 5 = 90
18 x 4 = 72
18 x 3 = 54
18 x 2 = 36
18 x 1 = 18

#### while loop
- Condition based iteration
- developer/programmer has to initiate the iterator first
- user incrementation
- **syntax**
    - while condition:
        - statements goes here

In [1]:
# printing the numbers in a given range
it=1
while it<=10:
    print(it,end=" ")
    it+=1

1 2 3 4 5 6 7 8 9 10

In [7]:
# find the sum of digits in a number
# 12345:15
num=input("Enter the number:")
s=0 # 
for dig in num:
    s=s+int(dig)
print("sum=",s)

Enter the number:12345
sum= 15

In [3]:
# iteration of str in python
clg="rvr&jc"
for ch in clg:
    print(ch)

r
v
r
&
j
c

In [9]:
# find the sum of digits in a number using while
x=int(input())
s=0
while x!=0:
    rem=x%10 # 
    s+=rem
    x//=10
print("sum=",s)

12345
15

In [10]:
# 123
10)123(12
       ---3
       10)12(1
             --2
             10)1(1
                  ---1

SyntaxError: invalid syntax (<ipython-input-10-47d909ee1f08>, line 2)

In [11]:
# while loop in reverse order
s,f=int(input("upper bound:")),int(input("lower bound:"))
while s>=f:
    print(s,end=" ")
    s-=1

upper bound:10
lower bound:1
10 9 8 7 6 5 4 3 2 1

In [12]:
# f to s
n,m,=10,25
while n<=m:
    print(n,end=" ")
    n+=1

10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

#### Nested Loops
- Loops written within the loop
- Ex: for loop in while loop
- for in while
- while in for
- while in while

#### patterns

In [14]:
u=int(input("Enter the value:"))
for row in range(1,u+1): #5 times
    for col in range(1,5): # 5 times 
        print(col,end=" ")
    print() # new line

Enter the value:5
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [18]:
for row in range(1,u+1):
    for col in range(1,row+1):
        print(col,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [20]:
for row in range(u,-1,-1):
    for col in range(0,row+1):
        print(row,end=" ")
    print()

5 5 5 5 5 5
4 4 4 4 4
3 3 3 3
2 2 2
1 1
0

In [21]:
# print the above patterns using while loop

In [24]:
# print the factors of a number
n=int(input())
# 10%2=0,10%3=1,10%5=0,10%10=0
# 10:1,2,5,10: 1 to 10:
print("factors are",end=":")
for num in range(1,n+1):
    if n%num is 0:
        print(num,end=" ")

10
factors are:1 2 5 10

In [28]:
# checking the prime number
pr=int(input())
fact=0
for num in range(1,pr+1):
    if pr%num==0:
        fact+=1
if fact==2:
    print("prime")
else:print("non prime")

11
prime

In [29]:
# using while 
count=0
it=1
while it<=pr:
    if pr%it==0:
        count+=1
    it+=1
    
if count is 2:
    print("prime")
else:print("non prime")

prime

In [30]:
# print the prime no.s present in a range
for num in range(1,100): # 100times
    count=0
    for dig in range(1,num//2+1): # count 1
        if num%dig==0:
            count+=1
    if count==1:
        print(num,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [31]:
# using while loop 
# while in while
# for loop in while loop

#### Strings
- a group of characters
- name:4 characters
- "a" or "word" or "i am from apssdc" "98768576dfhh" in python

In [34]:
st=input() # string data
for ch in st: #12
    print(ch,end=" ")

guntur in ap
g u n t u r   i n   a p

####  accessing the chars in str
- using index/representation
- immutable 
- data type 
- +ve index
    - starts from 0 to len(iterable)-1
    - traverse from left to right
- -ve index
    - traverse from right to left
    - -1 to -inifinite

In [35]:
st[0] # index 0 refers to the first char

'g'

In [36]:
# no.of characters in string
len(st)

12

In [38]:
len(range(10,100,7))

13

In [39]:
st[1]

'u'

In [40]:
st[2] # 3rd ch

'n'

In [41]:
st[-1] # last char

'p'

In [42]:
st[-2] # last but one char

'a'

In [43]:
st

'guntur in ap'

#### String Slicing
- Cut into pieces
- extrcting sub part of entire str using index
- **syntax**
    - st[start:stop:step_count]

In [44]:
st[:] # entire string

'guntur in ap'

In [45]:
st[::]

'guntur in ap'

In [46]:
st[::-1] # str in reverse order"

'pa ni rutnug'

In [47]:
st[::2]# alternate chars in str

'gnu na'

In [48]:
st[::-2] # alternate chars in reverse order"

'p irtu'

In [49]:
st[1:5] # 5th

'untu'

In [51]:
st[:6] # starts from 0

'guntur'

In [52]:
st[4:] # up to end

'ur in ap'

In [53]:
st[1:10:3] #

'uui'

In [54]:
st

'guntur in ap'

In [56]:
st[-10:-1] #

'ntur in a'

In [60]:
st[-1:-10:-2] # alternate chars in revere order

'p irt'

In [61]:
st

'guntur in ap'

##### Str methods
- method needs atleast one argument
- Methods can only be applied on strings

In [63]:
len(dir(str))

78

In [65]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [66]:
clg=input()
print("I am from",clg)

RVR&JC College of Engineering
I am from RVR&JC College of Engineering

In [67]:
clg.isupper() # entire

False

In [68]:
clg.islower()

False

In [72]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [73]:
clg.isalnum() # chekcing alpha numeric possibility

False

In [74]:
clg.isalpha()

False

In [75]:
clg.startswith("R")

True

In [76]:
clg.endswith("g")

True

In [78]:
# frequency of character
clg.count("g")

3

In [79]:
clg.count("e")

4

In [80]:
clg.count("R")

2

In [81]:
clg.capitalize()

'Rvr&jc college of engineering'

In [82]:
clg.title()

'Rvr&Jc College Of Engineering'

In [83]:
clg.swapcase()

'rvr&jc cOLLEGE OF eNGINEERING'

In [84]:
clg

'RVR&JC College of Engineering'

In [87]:
clg[4].isspace()

False

In [86]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [89]:
clg[4].isupper()

True

In [90]:
clg.upper()

'RVR&JC COLLEGE OF ENGINEERING'

In [91]:
clg.isupper()

False

In [92]:
clg.casefold()

'rvr&jc college of engineering'

In [94]:
clg.index("l")

9

In [95]:
clg.index("e")

11

In [96]:
clg.replace("e","new") # old,new

'RVR&JC Collnewgnew of Enginnewnewring'

In [97]:
clg

'RVR&JC College of Engineering'

In [99]:
# vowels finding
vowels="AEIOUaeiou"
for ch in clg:
    if ch in vowels:
        if ch.islower():
            print("lower case vowels",ch)
        else:
            print("upper case vowel",ch)
    else:
        print("Consonant",ch)

Consonant R
Consonant V
Consonant R
Consonant &
Consonant J
Consonant C
Consonant
Consonant C
lower case vowels o
Consonant l
Consonant l
lower case vowels e
Consonant g
lower case vowels e
Consonant
lower case vowels o
Consonant f
Consonant
upper case vowel E
Consonant n
Consonant g
lower case vowels i
Consonant n
lower case vowels e
lower case vowels e
Consonant r
lower case vowels i
Consonant n
Consonant g

In [101]:
# read space separated values and 
# find the sum of middle digits in it
# 987 654 321 107 843 765 i/p
# o/p:8+5+2+0+4+6=25 o/p
nums=input().split() # words
s=0
for num in nums:
    s+=int(num[1])
print("sum=",s)

987 654 321 107 843 765
sum= 25

In [102]:
clg.split() # list of words

['RVR&JC', 'College', 'of', 'Engineering']

In [103]:
s=input().split(",")
s

djfhjkdjf,opeiriopueoir,u9789776,kdfh jkhdjkh

['djfhjkdjf', 'opeiriopueoir', 'u9789776', 'kdfh jkhdjkh']

#### Functions
- A block of statements written to perform a specific task
- 2types
    - predefined 
        - they were defined when the lang was developed
        - simply call and use them
        - Ex:print(),input(),len(),str(),int(),float() etc ..
    - user defined
        - code return by the developer
- modularity and reusability of code
- **syntax**
    - def function_name(arguments):
        - statemens goes here(actual code)
        - return 
    - function definition and function call
        - code will come in to use when we call it
        - formal parameters in fun def and
        - actual values in fun call

In [105]:
# we can define the function in 4 ways 
# define a function to add 2 no.s
print(90+23)

113

In [106]:
def add(x,y): # fun with args and with return
    return x+y # formal 

add(9,4) # actual values

13

In [107]:
f,s=int(input()),int(input())
def greater(): # fun without args and with return
    if f>s:
        return f
    else:
        return s
greater()

9
3

9

In [108]:
def multiply(a,b): # fun with args and without return
    print("product=",a*b)
    
multiply(int(input()),int(input()))

9
34
product= 306

In [109]:
# fun without args and without return
def frequency():
    st=input()
    ch='a'
    print("frequency of",ch,"=",st.count(ch))
    
frequency()

i am from apssdc located at tadepalli
frequency of a = 6

In [110]:
# find the factorial of a number using functions
# find the gcd of 2 numbers using functions
n!=n

False

In [113]:
#n!=n*n-1*n-2...n-(n-1)
# 5!=5*4*3*2*1

def factorial(n):
    fact=1
    if n==1 or n==0:
        return 1
    else:
        for num in range(1,n+1):
            fact*=num
        return fact
    
print("factorial=",factorial(5))

factorial= 120

In [117]:
factorial(int(input("enter any value:")))

enter any value:6

720

In [120]:
# print the primes no.s present in a range using fun
def is_prime(x):
    count=0
    for num in range(1,x//2+1):
        if x%num is 0:
            count+=1
    if count is 1:
        return True
    else:return False
#is_prime(11)
def prime_range(lw,up):
    for num in range(lw,up+1):
        if is_prime(num): # calling the above fun
            print(num,end=" ")

prime_range(100,200)

101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [122]:
# print the primes no.s present in a range using fun
def prime(x):
    count=0
    for num in range(1,x//2+1):
        if x%num is 0:
            count+=1
    if count is 1:
        print("prime")
    else:print("non prime")

for num in range(1,50):
    if prime(num):
        print(num,end=" ")

non prime
prime
prime
non prime
prime
non prime
prime
non prime
non prime
non prime
prime
non prime
prime
non prime
non prime
non prime
prime
non prime
prime
non prime
non prime
non prime
prime
non prime
non prime
non prime
non prime
non prime
prime
non prime
prime
non prime
non prime
non prime
non prime
non prime
prime
non prime
non prime
non prime
prime
non prime
prime
non prime
non prime
non prime
prime
non prime
non prime

In [123]:
for num in range(1,100):
    if is_prime(num):
        print(num,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

### Data Structures
- Way of organising the data 
- 4types
    - tuple,list,set and dict
1. **tuple()**
   1. immutable data structure
   2. allows the heterogenous data
   3. represented by ()
   4. tuple() is the pre defined function
   5. *methods*
       - count()
       - index()

In [129]:
t=(8,90,'hi',565.87686,90,"hey")
print(t)

(8, 90, 'hi', 565.87686, 90, 'hey')

In [130]:
for item in t:
    print(item)

8
90
hi
565.87686
90
hey

In [131]:
t[0]

8

In [132]:
t[-1]

'hey'

In [138]:
names=('ruthu','vanitha','rvr&jc','rvr&jc','vanitha',
      'nandini',90,'rvr&j')
names

('ruthu', 'vanitha', 'rvr&jc', 'rvr&jc', 'vanitha', 'nandini', 90, 'rvr&j')

In [139]:
names.count("vanitha") # 2times

2

In [140]:
names.index("rvr&jc") # first occurence

2

In [141]:
dir(names)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [144]:
def print_vowels_separately(st):
    vowels=('a','e','u','i','o','A','E','I','O','U')
    print("lowercase vowels",end=":")
    for ch in st:
        if ch in vowels:
            if ch.islower():
                print(ch,end=" ")
    print("\nuppercase vowels",end=":")
    for ch in st:
        if ch in vowels:
            if ch.isupper():
                print(ch,end=" ")
                
print_vowels_separately(input())

RVr&jc in GUNTUR iN ANDHRA Pradesh
lowercase vowels:i i a e
 uppercase vowels:U U A A

#### List
- Mutable in data structure
- Allows us to store duplicate data
- represented by []
- list()
- **methods**
    - count()
    - index()
    - append()
    - extend()
    - copy()
    - insert()
    - clear()
    - remove()
    - pop()
    - sort()
    - reverse()

In [145]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [147]:
li=[90,45,'ruthu','college','hello','python',90.56]
li

[90, 45, 'ruthu', 'college', 'hello', 'python', 90.56]

In [148]:
for ele in li:
    print(ele)

90
45
ruthu
college
hello
python
90.56

In [149]:
for index in range(len(li)):
    print(li[index])

90
45
ruthu
college
hello
python
90.56

In [150]:
#i/p:aabbbxxxxddddd 
#o/p:2a3b4x5d

In [151]:
li[0]

90

In [152]:
li[-1]

90.56

In [153]:
li[3]

'college'

In [154]:
li[3:]

['college', 'hello', 'python', 90.56]

In [156]:
li[-4:]

['college', 'hello', 'python', 90.56]

In [158]:
len(li)

7

In [159]:
# prepare a list of numbers present in a range
li

[90, 45, 'ruthu', 'college', 'hello', 'python', 90.56]

In [162]:
# new element to the list
li.append("new") # at the end of list

In [163]:
li

[90, 45, 'ruthu', 'college', 'hello', 'python', 90.56, 'new', 'new']

In [164]:
li.pop() # removes the last ele

'new'

In [165]:
li

[90, 45, 'ruthu', 'college', 'hello', 'python', 90.56, 'new']

In [166]:
li.pop(3) # removes the ele at 3rd index

'college'

In [167]:
li

[90, 45, 'ruthu', 'hello', 'python', 90.56, 'new']

In [168]:
li.remove(45) # ele will be removed

In [169]:
li

[90, 'ruthu', 'hello', 'python', 90.56, 'new']

In [170]:
li2=li.copy()

In [171]:
li2

[90, 'ruthu', 'hello', 'python', 90.56, 'new']

In [176]:
# extend the existed list
li.extend([1,2,3,4])

In [178]:
print(li)

[90, 'ruthu', 'hello', 'python', 90.56, 'new', 'ruthu', 'from', 'apssdc', ['ruthu', 'from', 'apssdc'], 1, 2, 3, 4]

In [179]:
li.append((4,5,6,7))

In [180]:
li

[90,
 'ruthu',
 'hello',
 'python',
 90.56,
 'new',
 'ruthu',
 'from',
 'apssdc',
 ['ruthu', 'from', 'apssdc'],
 1,
 2,
 3,
 4,
 (4, 5, 6, 7)]

In [183]:
li=li+li2 # it works like extend

In [184]:
print(li)

[90, 'ruthu', 'hello', 'python', 90.56, 'new', 'ruthu', 'from', 'apssdc', ['ruthu', 'from', 'apssdc'], 1, 2, 3, 4, (4, 5, 6, 7), 90, 'ruthu', 'hello', 'python', 90.56, 'new']

In [187]:
nums=[]
for num in range(1,11):
    nums.append(num)
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [191]:
nums.insert(7,"new")

In [192]:
nums

[1, 2, 3, 4, 5, 6, 7, 'new', 'new', 8, 9, 10]

In [193]:
nums[3:]

[4, 5, 6, 7, 'new', 'new', 8, 9, 10]

In [194]:
nums[::]

[1, 2, 3, 4, 5, 6, 7, 'new', 'new', 8, 9, 10]

In [195]:
nums[:]

[1, 2, 3, 4, 5, 6, 7, 'new', 'new', 8, 9, 10]

In [196]:
nums[::-1]

[10, 9, 8, 'new', 'new', 7, 6, 5, 4, 3, 2, 1]

In [197]:
nums[2:10:3]

[3, 6, 'new']

In [204]:
nums.reverse()

In [205]:
nums

[10, 9, 8, 'new', 'new', 7, 6, 5, 4, 3, 2, 1]

In [206]:
nums

[10, 9, 8, 'new', 'new', 7, 6, 5, 4, 3, 2, 1]

In [209]:
 # sort function
s=input().split()
ss=[]
for num in s:
    ss.append(int(num))
ss.sort()
print(ss)

90 78 234 56 18 93 46 278 41
[18, 41, 46, 56, 78, 90, 93, 234, 278]

In [211]:
min(ss)

18

In [212]:
max(ss)

278

In [213]:
sum(ss)

934

In [215]:
 # prepare the unique list of elements
# find the second max element in list without using sort
li=[5,6,90,34,128,94,67,965,89]
li.sort()

In [216]:
li[-2]

128

In [217]:
# Remove the duplicate elements from list
ele=[9,5,6,7,9,8,2,3,4,5,6,9]# repeated data elements
unq=[]
for num in ele:
    if num not in unq:
        unq.append(num)
print(unq)

[9, 5, 6, 7, 8, 2, 3, 4]

In [218]:
# prepare a list of perfect no.s present a range

####  Sets
- Undefined collection of objects/elements
- represented by {}
- mutable
- removes the duplicate data elements
- set() is the pre defined fun to declare a set

In [219]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [220]:
s={90,78,90,'r','hi','i',90,12,34,56,78,12,'hi'}
s

{12, 34, 56, 78, 90, 'hi', 'i', 'r'}

In [223]:
A={90,12,56,'hi','i','new','copy','new'}
A

{12, 56, 90, 'copy', 'hi', 'i', 'new'}

In [224]:
A.intersection(s) # common ele in both sets

{12, 56, 90, 'hi', 'i'}

In [225]:
A.union(s)

{12, 34, 56, 78, 90, 'copy', 'hi', 'i', 'new', 'r'}

In [226]:
A.add("new data")

In [227]:
A

{12, 56, 90, 'copy', 'hi', 'i', 'new', 'new data'}

In [228]:
A

{12, 56, 90, 'copy', 'hi', 'i', 'new', 'new data'}

In [229]:
A.difference(s)

{'copy', 'new', 'new data'}

In [230]:
A-s #

{'copy', 'new', 'new data'}

In [231]:
A.symmetric_difference(s) # non-similar elements

{34, 78, 'copy', 'new', 'new data', 'r'}

In [232]:
A

{12, 56, 90, 'copy', 'hi', 'i', 'new', 'new data'}

In [233]:
s

{12, 34, 56, 78, 90, 'hi', 'i', 'r'}

In [234]:
A.symmetric_difference_update(s)

In [235]:
A

{34, 78, 'copy', 'new', 'new data', 'r'}

In [236]:
dir(A)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [237]:
A.pop()

34

In [238]:
A

{78, 'copy', 'new', 'new data', 'r'}

In [239]:
A.update("python") #

In [240]:
A

{78, 'copy', 'h', 'n', 'new', 'new data', 'o', 'p', 'r', 't', 'y'}

In [241]:
A.isdisjoint(s)

False

In [242]:
s.issubset(A)

False

In [243]:
A

{78, 'copy', 'h', 'n', 'new', 'new data', 'o', 'p', 'r', 't', 'y'}

In [244]:
B={'copy','h','n'}
B

{'copy', 'h', 'n'}

In [245]:
B.issubset(A)

True

In [246]:
unq

[9, 5, 6, 7, 8, 2, 3, 4]

In [247]:
dup=set(ele)
dup

{2, 3, 4, 5, 6, 7, 8, 9}

In [248]:
ele

[9, 5, 6, 7, 9, 8, 2, 3, 4, 5, 6, 9]